{% extends "base.html" %}

{% block title %}
1.5
{% endblock title %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block menu %}
<form action="{% url '15' %}" method="post">
    {% csrf_token %}
    <input type="text" name="size"
        {% if size_error_empty %}
            style="color: red;"
        {% endif %}
        placeholder="Enter your matrix size"
        value="{{ saved_size }}">
    <input type="text" name="precision"
        {% if precision_error_empty %}
            style="color: red;"
        {% endif %}
        placeholder="Enter precision"
        value="{{ saved_precision }}">
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>
{% endblock menu %}

{% block content %}
<h3>Реализовать алгоритм QR – разложения матриц в виде программы</h3>
Реализовать алгоритм QR – разложения матриц в виде программы. На его основе разработать программу, реализующую QR – алгоритм решения полной проблемы собственных значений произвольных матриц, задавая в качестве входных данных матрицу и точность вычислений. С использованием разработанного программного обеспечения найти собственные значения матрицы.
{% endblock content %}